services:
  - type: web
    name: retroko-server
    env: python
    repo: https://github.com/WM-AI-TECH-IA/RETROKO
    branch: main
    rootDir: server
    buildCommand: pip install -r server/requirements.txt
    startCommand: uvicorn retroko_fastapi_server:app --host 0.0.0.0 -port $PORT
    envVars: 
      - key: OAUTH_CLIENT_ID
        fromDotEnv: true
      - key: OAUTH_CLIENT_SECRET
        fromDotEnv: true
      - key: REDIRECT_URI
        fromDotEnv: true
      - key: ENCRYPTION_KEY
        fromDotEnv: true
    autoDeploy: true
