services:
  - name: retroko-core
    type: webservice
    env: python-3.10
    build_command: pip install -r requirements.txt
    start_command: uvicorn retroko_fastapi_server:app --host 0.0.0.0 --port 8080
    public_path: server

  - name: retroko-shell
    type: webservice
    env: python-3.10
    build_command: pip install -r shell_api/requirements.txt
    start_command: uvicorn shell_api.main:app --host 0.0.0.0 --port 8000
    public_path: shell_api