services:
  - name: retroko-server
    run:
      directory: deploy/retroko_oauth_server
      command: uvicorn main:app --host 0.0.0.0 --port 800
    plans:
      - type: web-service
        name: default
        runtime: python
        version: 3.10 # vous pouvez adapter la version
        path: requirements.txt